<div id="<%= dom_id quotecategory %>">
  <p>
    <strong>Cat quantity:</strong>
    <%= quotecategory.cat_quantity %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= quotecategory.quote_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= quotecategory.category_id %>
  </p>

</div>
